input{
  color: white;
  outline: none;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  top: 0;
  margin-top: 0px !important;
}

.react-datepicker__month-container {
  float: left;
  width: 400px;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  margin-top: 15px;
  margin-bottom: 15px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.5rem;
}

.react-datepicker__day-names {
  background-color: white;
  margin-bottom: -7px;
  color: rgb(248, 245, 235);
  color: blue !important;
}

.react-datepicker__header {
  text-align: center;
  background-color: crimson;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: green;
  display: inline-block;
  width: 2.7rem;
  line-height: 2.7rem;
  text-align: center;
  margin: 0.166rem;
  font-weight: bold
}
.react-datepicker__day-name{
  font-size: 1rem;
  color: rgb(1, 1, 10) ;
  /* background-color: rgb(201, 16, 16); */
}

.react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled, .react-datepicker__year-text--disabled {
  cursor: default;
  color: #ccc !important;
}

.react-datepicker__day--selected{
  border-radius: 0.5rem;
    background-color: #040506;
    color: #fff !important;
    display: none;

}

.react-datepicker__navigation-icon {
  position: relative;
  top: 10px;
  font-size: 24px;
  width: 0;
}

.react-datepicker__header, .react-datepicker__header--time{
  padding-bottom: 0;
} 

.react-datepicker__day--selected:hover{
  background-color: rgb(8, 87, 8);
  font-size: larger;
  color: white !important;
  border-radius: 0.5rem;
}